* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
    scroll-snap-type: y  mandatory; 
    scroll-behavior: smooth;
  }
  
  
  body::-webkit-scrollbar {
    width: 0;
    height: 0;
    background-color: transparent;
  }
  
  ::-webkit-scrollbar {
    width: 0;
    scrollbar-width: none;
  }
  
  ::-webkit-scrollbar-thumb {
    background: transparent;
  }
  
  
  /* --------------Accueil-------------- */
  
  
  .accueil{
    /* background-image: url(../ressources/accueil/Landing-page.png); */
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
  }

  .navbar{
    height: 10svh;
    display: flex;
    align-items: center;
  }

  .navbar .logo{
    width: 3vw;
    margin-left: 2vw;
  }

  .navbar nav{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 70vw;
    margin-left: 4vw;
  }

  .navbar nav .acc{
    text-decoration-line: underline;
    padding-left: 0px;
  }

  .navbar nav a {
    color: #FFF;
    font-size: 20px;
    font-weight: 500;
    transition: 0.2s;
    padding-left: 70px;

  }

.navbar nav a:hover {
    color: #120499;
    transition: 0.2s;
}

.recherche img{
    height: 100%;
    width: 2vw;
    cursor: pointer;
}

.recherche {
    width: 18vw;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.corp{
    width: 100vw;
    height: 85svh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  
  .corp h1{
    color: #FFF;
    font-size: 100px;
    font-style: normal;
    font-weight: 700;
    line-height: 200px;
}

.corp a{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    background-color: #120499;
    color: white;
    font-size: 15px;
    font-weight: 700;
    transition: 0.3s;
}

.corp a:hover{
    background-color: white;
    color: #120499;
    transition: 0.3s;
  }
  
  .container {
   position: absolute;
   margin: auto;
   top: 0;
   left: 1;
   right: 0;
   bottom: 1;
   width: 340px;
   height: 100px;
  }
  .container .search {
   position: absolute;
   margin: auto;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   width: 50px;
   height: 50px;
   background: white;
   border-radius: 50%;
   transition: all 1s;
   z-index: 4;
  }
  .container .search:hover {
   cursor: pointer;
  }
  .container .search::before {
   content: "";
   position: absolute;
   margin: auto;
   top: 22px;
   right: 0;
   bottom: 8px;
   left: 12px;
   width: 10px;
   height: 2px;
   background: #120499;
   transform: rotate(45deg);
   transition: all 0.5s;
  }
  .container .search::after {
   content: "";
   position: absolute;
   margin: auto;
   top: -5px;
   right: 0;
   bottom: 0;
   left: -5px;
   width: 15px;
   height: 15px;
   border-radius: 50%;
   border: 2px solid #120499;
   transition: all 0.5s;
  
  }
  .container input {
   position: absolute;
   margin: auto;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   width: 50px;
   height: 50px;
   outline: none;
   border: none;
   background: white;
   color: black;
   padding: 0 80px 0 20px;
   border-radius: 30px;
   transition: all 1s;
   opacity: 0;
   z-index: 5;
   font-weight: bolder;
   letter-spacing: 0.1em;
   box-shadow: 0 0 10px 0 #120499,
                0 20px 25px 0 rgba(0, 0, 0, 0.0);
  font-size: 12px;
                
   
  }
  .container input:hover {
   cursor: pointer;
  }
  .container input:focus {
   width: 300px;
   opacity: 1;
   cursor: text;
  }
  .container input:focus ~ .search {
   right: -250px;
   background: white;
   z-index: 6;
   
  }
  .container input:focus ~ .search::before {
   top: 5px;
   left: 0px;
   width: 30px;
   
}
 .container input:focus ~ .search::after {
	 top: 0px;
	 left: 0px;
	 width: 30px;
	 height: 2px;
	 border: none;
	 background: #120499;
	 border-radius: 0%;
	 transform: rotate(-45deg);
}
 .container input::placeholder {
	 color: #080053;
	 opacity: 0.5;
	 font-weight: bolder;
}
 
  
  /* --------------Podium-------------- */
  
  .podium{
    height: 100svh;
    width: 100vw;
    background-image: url(../ressources/FondEcranEquipe/ManCity.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    align-items: end;
  }

  .date select{
    width: 150px; 
    height: 40px; 
    font-weight: 700; 
    font-size: 15px; 
    text-align: center; 
    color: #000000; 
    border: 2px solid #000000; 
    border-radius: 40px;
    margin-left: 100px;
    background-color: transparent;
    }

  .podium .place{
    height: 100svh;
    width: 70vw; 

  }
  
  .ranked{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: end;
    justify-content: space-around;  
  }
  
  .ranked a{
    display: flex;
    align-items: center;
    justify-content: center;
    
  }
  .un{
    height: 50svh;
    width: 100%;
    background-color: #080053;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #FFF;
    font-size: 25px;
    font-weight: 700;
    letter-spacing: 1.5px;
  }
  
  .deux{
    height: 30svh;
    width: 100%;
    background-color: #080053;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #FFF;
    font-size: 25px;
    font-weight: 700;
    letter-spacing: 1.5px;
  }
  
  .trois{
    height: 23svh;
    width: 100%;
    background-color: #080053;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #FFF;
    font-size: 25px;
    font-weight: 700;
    letter-spacing: 1.5px;
  }
  
  .coupe1{
    height: 20svh;
    width: 100%;
    background-image: url(../ressources/accueil/tropheeblanc1.png);
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #080053;
    font-size: 68px;
    font-weight: 700;
    letter-spacing: 1.5px;
    margin-top: 10%;
  }
  
  .coupe1 p{
    margin-bottom: 20%;
  }
  
  .coupe2{
    height: 15svh;
    width: 100%;
    background-image: url(../ressources/accueil/trophee2.png);
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #080053;
    font-size: 40px;
    font-weight: 700;
    letter-spacing: 1.5px;
    margin-top: 5%;
  }
  
  .coupe2 p{
    margin-bottom: 15%;
  }
  
  .coupe3{
    height: 11svh;
    width: 100%;
    background-image: url(../ressources/accueil/tropheeblanc3.png);
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #080053;
    font-size: 25px;
    font-weight: 700;
    letter-spacing: 1.5px;
    
  }
  
  .coupe3 p{
    margin-bottom: 10%;
  }
  
  .general{
    height: 50svh;
    width: 15vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
    cursor: pointer;

  }
  
  .general2{
    height: 70svh;
    width: 15vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
    cursor: pointer;
  }
  
  
  .general3{
    height: 43svh;
    width: 15vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
    cursor: pointer;
  }


    /* --------------Podium-------------- */
  

  
    .classement{
      height: auto;
      width: 100vw;
      display: flex;
      align-items: center;
      justify-content: center;
      padding-top: 50px;
      flex-direction: column;
      background-color: white;
      padding-bottom: 200px;
    }
  
    .place4, .place5, .place6, .place7, .place8, .place9, .place10{
      margin-top: 60px;
      border-radius: 27px;
      border: 3px solid #080053;
      height: 150px;
      width: 70vw;
      display: flex;
      align-items: center;
      justify-content: center;
      color: #080053;
      font-size: 50px;
      font-weight: 700;
      letter-spacing: 1.5px;
      justify-content: space-between;
      cursor: pointer;
      transition: 0.6s;
    }
  
    .place4:hover, .place5:hover, .place6:hover, .place7:hover, .place8:hover, .place9:hover, .place10:hover{
      background-color: #080053;
      color: #FFF;
      transition: 0.3s;
    }
  
  
    .boxlogoclub{
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
      width: 15%;
    }
  
    .boxplaceclub{
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
      width: 15%;
    }
  
    .place4 span{
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
      width: 15%;
    }
  
    /* --------------Footer-------------- */
  
    footer {
      background-color: #F4F4F4;;
      height: 550px;
      width: 100vw;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  
    footer .top{
      width: 100vw;
      height: 75%;
      display: flex;
      justify-content: space-between;
    }
  
    footer .top .desc{
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 40%;
      padding-top: 50px;
    }
  
    footer .top .desc h6{
      color: #000;
      font-size: 52px;
      font-weight: 700;
      letter-spacing: 1.5px;
    }
  
    footer .top .desc h6 span{
      color: #080053;
      font-size: 39px;
      font-weight: 700;
      letter-spacing: 1.5px;
    }
  
    footer .top .desc p{
      color: rgba(0, 0, 0, 0.85);
      font-size: 20px;
      font-weight: 400;
      width: 250px;
      margin-top: 10px;
    }
    footer .top .res{
      width: 30%;
      padding-top: 60px;
    }
  
    footer .liens{
      display: flex;
      flex-direction: column;
    }
    footer .top .res h6{
      color: #000;
      font-size: 36px;
      font-weight: 700;
      letter-spacing: 1.5px;
    }
    footer .top .res a{
      text-decoration: none;
      color: rgba(0, 0, 0, 0.85);
      font-size: 20px;
      font-style: normal;
      font-weight: 400;
      text-decoration-line: underline;
      transition: 0.3s;
      line-height: 20px;
      margin-top: 20px;
    }
    footer .top .contact{
      width: 30%;
      padding-top: 60px;
    }
  
    footer .top .contact h6{
      color: #000;
      font-size: 36px;
      font-weight: 700;
      letter-spacing: 1.5px;
    }
  
    footer .top .contact a{
      color: rgba(0, 0, 0, 0.85);
      font-size: 20px;
      font-weight: 400;
      text-decoration-line: underline;
      transition: 0.3s;
      line-height: 20px;
      margin-top: 20px;
    }
    footer .top .logo{
      height: 100%;
      width: 500px;
      background-image: url(../ressources/footer/Logo.svg);
      background-repeat: no-repeat;
      background-position: top right;
    }
  
    footer .middle{
      display: flex;
      align-items: center;
      justify-content: center;
      justify-content: space-between;
      width:50vw;
      height: 15%;
    }
  
    footer .end{
      width: 100vw;
      height: 10%;
      color: rgba(0, 0, 0, 0.85);
      font-size: 20px;
      font-weight: 400;
      display: flex;
      align-items: flex-end;
      justify-content: center;
      padding-bottom: 10px;
    }
  
  
  
    footer .liens a:hover {
      color:#120499;
      transition: 0.3s;
    }
  
  
  
  
    @keyframes apparitionnav {

      100%{
          opacity: 100%;
          transform: none;
      }
  
  
  }
  
  
  @keyframes apparitiontitre {
  
      100%{
          opacity: 90%;
          transform: none;
      }
  
  
  }
  