* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
    scroll-snap-type: y  mandatory; 
    scroll-behavior: smooth;
  }

  body::-webkit-scrollbar {
    width: 0;
    height: 0;
    background-color: transparent;
  }
  
  ::-webkit-scrollbar {
    width: 0;
    scrollbar-width: none;
  }

  ::-webkit-scrollbar-thumb {
    background: transparent;
  }


/* --------------Accueil-------------- */


.accueil{
    height: 100svh;
  }

  .navbar{
    height: 10svh;
    display: flex;
    align-items: center;
    width: 100vw;
  }


  .navbar .logo{
    width: 3vw;
    margin-left: 4vw;
  }

  .navbar nav{
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    margin-left: 25%;
  }


  .navbar nav a {
    color: black;
    font-size: 20px;
    font-weight: 500;
    transition: 0.2s;
    padding-left: 70px;

  }

.navbar nav a:hover {
    color: #120499;
    transition: 0.2s;
    scale: 1.1;
}

.recherche img{
    height: 100%;
    width: 2vw;
    cursor: pointer;
}

.recherche {
    width: 18vw;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.landing{
    height: 140svh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    justify-content: space-around;
}

.landing h1{
    color: #000;
    font-size: 127px;
    font-weight: 700;
}

.landing p {
    margin-top: 50px;
    height: 387px;
    width: 1258px;
    border-radius: 47px;
    border: 5px solid #000;
    padding: 47px 59px 0px 58px;
    color: #000;
    font-size: 32px;
    font-weight: 700;
}

  /* --------------Logos-------------- */

  .logoancien{
    margin-top: 50px;
    height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .logoancien h1{
    color: #000;
    font-size: 80px;
    font-weight: 700;
  }

  .leslogo{
    width: 100%;
    height: 80%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
    background-color: rebeccapurple;
  }

  .lelogo{
    background-color: red;
    height: 80%;
    width: 20%;
    margin-left: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  /* --------------Stades-------------- */

  .stade{
    height: 100svh;
    width: 100vw;
    background-color: #000000;
    display: flex;
  }

  .stade .gauche{
    height: 100%;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .stade .gauche img{
    width: 80%;
  }

  .stade .droite{
    height: 100svh;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .stade .droite h6{
    color: white;
    font-size: 80px;
    font-weight: 700;
    margin-bottom: 5vh;
  }

  .stade .droite p{
    color: #FFF;
    font-size: 36px;
    font-weight: 700;
    line-height: 144.4%;
    width: 90%;
  }

  /* --------------Palmares-------------- */

  .palmares{
    background-color: #000;
    height: 50svh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

.palmares h3{
  color: white;
  font-size: 69px;
  font-weight: 700;
}

  .palmares .coupes{
    height: 80%;
    display: flex;
    flex-direction: row;
    width: auto;
    align-items: center;
    justify-content: center;
    scroll-behavior: smooth;
    overflow-x: scroll;
  }
  

  .palmares .coupes img{
    padding-left: 2vw;
    padding-right: 2vw;
    height: 70%;
  }