* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
    scroll-snap-type: y  mandatory; 
  }

  body::-webkit-scrollbar {
    width: 0;
    height: 0;
    background-color: transparent;
  }
  
  ::-webkit-scrollbar {
    width: 0;
    scrollbar-width: none;
  }

  ::-webkit-scrollbar-thumb {
    background: transparent;
  }


  /* --------------Accueil-------------- */


  .accueil{
    background-image: url(../ressources/imagespage1/Landing-page.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 70svh;
  }

  .navbar{
    height: 10svh;
    display: flex;
    align-items: center;
  }

  .navbar .logo{
    width: 3vw;
    margin-left: 2vw;
  }

  .navbar nav{
    display: flex;
    align-items: center;
    height: 100%;
    width: 70vw;
    margin-left: 4vw;
  }

  .navbar nav .acc{
    text-decoration-line: underline;
    padding-left: 0px;
  }

  .navbar nav a {
    color: #FFF;
    font-size: 20px;
    font-weight: 500;
    transition: 0.2s;
    padding-left: 70px;

  }

.navbar nav a:hover {
    color: #120499;
    transition: 0.2s;
}

.recherche img{
    height: 100%;
    width: 2vw;
    cursor: pointer;
}

.recherche {
    width: 18vw;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.corp{
    width: 100vw;
    height: 60svh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.corp h1{
    color: #FFF;
    font-size: 100px;
    font-style: normal;
    font-weight: 700;
    line-height: 200px;
}

.corp a{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 12vw;
    height: 79px;
    border-radius: 50px;
    background-color: #120499;
    color: white;
    font-size: 15px;
    font-weight: 700;
    transition: 0.3s;
}

.corp a:hover{
    background-color: white;
    color: #120499;
    transition: 0.3s;
}
  
  /* --------------Podium-------------- */

  .podium{
    height: 100svh;
    width: 100vw;
    background-image: url(../ressources/imagespage1/mancity.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  .podium .date{
    height: 20svh;
    width: 100vw;
    background-color: pink;
  }

  .podium .place{
    height: 80svh;
    width: 100vw;
    background-color: blueviolet;
    display: flex;
    justify-content: center;
    align-items: flex-end;
  }

  .ranked{
    height: 80%;
    width: 50%;
    background-color: red;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

  }

  .deux, .un, .trois{
    width: 30%;
    background-color: beige;
  }

  .deux{
    height: 30svh;
  }

  .un{
    height: 50svh;
  }

  .trois{
    height: 10svh;
  }