*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
    scroll-snap-type: mandatory;
    scroll-behavior: smooth;
}
body {
    
    height: 100vh;
    width: 100vw;
    display: flex;
    background-image: url("./ressources/background.png");
    background-repeat: no-repeat;
    justify-content: center;
    align-items: center;
}

.login-container{
    width: 465px;
    height: 642px;
    flex-shrink: 0;
    border-radius : 25px;
    background: #FFF;
    display: flex;
    flex-direction: column;
}
.head-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
.head-div img{
    margin-top: 39px;
    margin-bottom: 12px;
    width: 64px;
    height: 64px;
    flex-shrink: 0;
}
.head-div h2{
    color: #000; 
    text-align: center;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Montserrat;
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: 50px; /* 200% */
    letter-spacing: 1.5px;
}
.head-div p{
    width: 112px;
    height: 41px;
    flex-shrink: 0;
    color: #424242;
    text-align: center;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Montserrat;
    font-size: 7px;
    font-style: normal;
    font-weight: 700;
    letter-spacing: 1.5px;
}
.identifiant{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: green;
    height: 200px;
}