*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
    scroll-snap-type: mandatory;
    scroll-behavior: smooth;
}

body {
    
    height: 100vh;
    width: 100vw;
    display: flex;
    background-image: url("./ressources/background.png");
    background-repeat: no-repeat;
    justify-content: center;
    align-items: center;
}

.login-container{
    width: 465px;
    height: 642px;
    flex-shrink: 0;
    border-radius : 25px;
    background: #FFF;
    display: flex;
    flex-direction: column;
}
.head-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.head-div img{
    margin-top: 39px;
    margin-bottom: 12px;
    width: 64px;
    height: 64px;
    flex-shrink: 0;
}
.head-div h2{
    color: #000; 
    text-align: center;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Montserrat;
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: 50px; /* 200% */
    letter-spacing: 1.5px;
}
.head-div p{
    width: 112px;
    height: 41px;
    flex-shrink: 0;
    color: #424242;
    text-align: center;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Montserrat;
    font-size: 11px;
    font-style: normal;
    font-weight: 700;
    letter-spacing: 1.5px;
    width: 70%;
}
.identifiant{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 170px;
    margin-top: 20px;
}

.identifiant #id{
    margin-bottom: 15px;
    border: 0px;
    background-color: transparent;
    border-bottom: 1px solid black;
    width: 70%;
    height: 100%;
}

.identifiant #id::placeholder{
    font-weight: bolder ;
    font-size: 18px;
    color:#000;
}


.pass1{
    border-bottom: 1px solid black;
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
    height: 100%;
    justify-content: space-between;
    padding-right: 10px;
    margin-top: 15px;
}

.pass2{
    border-bottom: 1px solid black;
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
    height: 100%;
    justify-content: space-between;
    padding-right: 10px;
    margin-top: 15px;
}


.identifiant #motdepasse{
    
    border: 0px;
   
}

.identifiant #motdepasse::placeholder{
    font-weight: bolder ;
    color: black;
    font-size: 18px;
}

.bouton{
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.bouton-se-connecter{
    width: 80%;
    height: 5vh;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    background: #1B1D21;
    margin-bottom: 15px;
    font-weight: bolder;
}

.bouton-se-connecter:hover{
    transition: 0.3s;
    background: black;
    color: white;
    
}

.bouton-se-connecter a{
  color: white;
}


.bouton-creer-compte{
    width: 80%;
    height: 5vh;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    background: #D4D4D4;
    font-weight: bolder;
}

.bouton-creer-compte a{
    color: black;
}

.text-footer{
    margin-top: 27px;
    margin-left: 80px;
    margin-right: 80px;
    font-size: small;
    display: flex;
    justify-items: center;
    flex-direction: column;
    font-size: 10px;
}

.bouton-creer-compte-inscription{
    width: 80%;
    height: 5vh;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    background: #1B1D21;
    margin-bottom: 15px;
}
.bouton-se-connecter-inscription{
    width: 80%;
    height: 5vh;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    background: #D4D4D4;
    

}
.bouton-creer-compte-inscription a{
    color: white;
    font-weight: bolder;
}
.bouton-se-connecter-inscription a{
    color: black;
    font-weight: bolder;
}