*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
    scroll-snap-type: mandatory;
    scroll-behavior: smooth;
}
body {
    
    height: 100vh;
    width: 100vw;
    display: flex;
    background-image: url("./ressources/background.png");
    background-repeat: no-repeat;
    justify-content: center;
    align-items: center;
}

.login-container{
    width: 465px;
    height: 642px;
    flex-shrink: 0;
    border-radius : 25px;
    background: #FFF;
}